<div class="mt-4 d-flex justify-content-center">
  <div class="col-md-7">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>vamos al componenete principal</h2>
      <p></p>
      <button
       [routerLink]="['/dash/principal']"
       class="btn btn-danger"
       type="button">
       Principal
      </button>
    </div>
  </div>
</div>
<div class="mt-4 d-flex justify-content-center">
  <div class="col-md-7">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>chale, estoy perdido</h2>
      <p> </p>
      <button
       [routerLink]="['/noencontrado']"
       class="btn btn-info"
       type="button">
       A donde voy?
      </button>
    </div>
  </div>
</div>

