<div *ngIf="arregloCarroPropietario.length != 0;then mostrarTablaCarros; else vacio">

</div>

<!-- Plantilla para Presentar el listado de carros del propietario seleccionado -->
<ng-template #mostrarTablaCarros>
  <div class="row">
    <div class="col-8">
      <table class="table table-striped table-hover table-sm manito">
        <thead class="bg-dark text-white">
          <tr>
            <th style="width:10%">Código</th>
            <th style="width:35%">Marca</th>
            <th style="width:30%">Placa</th>
            <th style="width:25%">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let miCarro of arregloCarroPropietario; let indice=index " (click)="seleccionarCarro(miCarro)"
            [class.table-primary]="miCarro==carroSeleccionado">
            <td>{{indice+1}}</td>
            <td>{{miCarro.marca}}</td>
            <td>{{miCarro.placa}}</td>
            <td>{{miCarro.modelo}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <div *ngIf="carroSeleccionado.codigo !=0;then contenido">

      </div>
    </div>
  </div>
</ng-template>

<!-- Plantilla si el propietario no tiene carros -->
<ng-template #vacio>
  <div class="alert alert-danger">
    <h4 class="alert-heading">Advertencia!</h4>
    <p>No hay registros asociados a la persona seleccionada</p>
  </div>
</ng-template>

<!-- Plantilla para mostrar detalles del carro y propietario seleccionado -->
<ng-template #contenido>
  <div>
    <img class="img-thumbnail" onerror="this.src='../assets/imagenes/noDisponible.png'"
      [src]="carroSeleccionado.propietario.fotobase64" />
    <h6><strong>Propietario :</strong> {{carroSeleccionado.propietario.nombre}}</h6>
    <h6><strong>Documento :</strong> {{carroSeleccionado.propietario.documento}}</h6>
    <h6><strong>Telefono :</strong> {{carroSeleccionado.propietario.telefono}}</h6>
  </div>

  <div class="mt-2">
    <img class="img-thumbnail mt-2" onerror="this.src='../assets/imagenes/noDisponible.png'"
      [src]="carroSeleccionado.fotobase64" />
    <h6><strong>Marca :</strong> {{carroSeleccionado.marca}}</h6>
    <h6><strong>Placa :</strong> {{carroSeleccionado.placa}}</h6>
    <h6><strong>Modelo :</strong> {{carroSeleccionado.modelo}}</h6>
  </div>
</ng-template>
